.big-container {
  max-width: 60%;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0rem auto;
  overflow: hidden;
  padding: 1rem;
  margin-top: 1rem;
  transition: all 1s;
}

.roll-container {
  max-width: 60%;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0rem auto;
  overflow: hidden;
  padding: 1rem;
  margin-top: 1rem;
}

.keys-container {
  max-width: 80%;
  height: 12rem;
  margin: 0rem auto;
  position: relative;
}

button.white-key.key {
  border: 2px solid #000;
  background-color: #fff;
  width: 14.28%;
  height: 12rem;
  box-shadow: 2px 2px 0px 1px #333;
  position: absolute;
  top: 0%;
}
button.white-key.key:hover {
  transform: scale(0.99);
}

button.black-key.key {
  width: 10%;
  height: 8rem;
  background-color: #000;
  box-shadow: 1px 1px 0px 2px #333;
  position: absolute;
  top: 0%;
  z-index: 1;
}

button.black-key.key:hover {
  transform: scale(0.99);
}

button.key {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: end;
}
button.black-key.key {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.key span {
  display: block;
}

#c {
  left: 0%;
}

#cs {
  left: 9%;
}

#d {
  left: 14%;
}

#ds {
  left: 23%;
}

#e {
  left: 28%;
}

#f {
  left: 42%;
}

#fs {
  left: 50%;
}

#g {
  left: 56%;
}

#gs {
  left: 65%;
}

#a {
  left: 70%;
}

#as {
  left: 79%;
}

#b {
  left: 84%;
}

.note-container {
  animation-name: inAnimation;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    scale: 1;
  }
  50% {
    opacity: 0;
    scale: 3;
  }
  100% {
    /* transform: translateX(0rem); */
    opacity: 100;
    scale: 1;
  }
}

.container {
  max-width: 100%;
  height: 17rem;
  margin: 3rem auto;
  position: relative;
}

.timer {
  display: block;
  text-align: center;
  width: 18rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 1rem auto;
  letter-spacing: 0rem;
  line-height: 4rem;
  font-size: 2rem;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Press Start 2P", sans-serif;
}

.start-btn {
  display: block;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  margin: 9rem auto;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-family: "Press Start 2P", sans-serif;
  background-color: #000000;
  border: 5px solid #ffffff;
  transition: transform 0.3s;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: 5px solid #000000;
  transform: scale(0.95);
}

.start-btn:hover.outAnimation,
.start-btn.outAnimation {
  transition: transform 0.6s;
  background-color: transparent;
  color: #000000;
  transform: scale(100);
}

.note-eighth {
  font-size: 6rem;
  position: absolute;
  transition: all 0.8s;
  top: 10%;
  left: 0%;
}

.joint {
  height: 30rem;
  position: absolute;
  top: 18%;
  left: 21%;
  z-index: 1;
  transform: rotate(180deg);
}

.container_s {
  position: absolute;
  height: 100%;
  z-index: 0;
  width: 20%;

  /* 
 
  top: 0%;
  z-index: 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* background-color: rgba(0, 255, 255, 0.304);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 255); */

.lines_t.first-container {
  left: 20%;
}

.lines_t.second-container {
  left: 40%;
}

.lines_t.third-container {
  left: 60%;
}
.lines_t.fourth-container {
  left: 80%;
}

.lines_t.no-container {
  left: 20%;
}

.no-container {
  left: 15%;
  background-color: rgba(0, 255, 255, 0.304);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 255);
}

ion-icon {
  font-size: 1.2rem;
  position: absolute;
  top: 39%;
  left: 20%;
}

.g-clef {
  font-size: 11rem;
  position: absolute;
  top: -5%;
  left: 0%;
}

.f-clef {
  font-size: 9rem;
  position: absolute;
  top: 2%;
  left: 0%;
}

.bass_clef {
  width: 8rem;
  position: absolute;
  top: 27%;
  left: 0%;
}

.no-disp {
  /* top: var(--code_first); */
  transform: translateX(80rem);
}

.no-input {
  display: none;
}

/* .sharp {
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 8.5%;
} */

.first {
  left: 10.5rem;
  top: var(--code_first);
}

.second {
  left: 21.5rem;
  top: var(--code_second);
}

.third {
  left: 32rem;
  top: var(--code_third);
}

.fourth {
  left: 42.5rem;
  top: var(--code_fourth);
}

.wrong {
  left: 20%;
  top: var(--code_wrong);
  color: rgba(199, 199, 199, 0.738);
}

.test {
  left: 50%;
  top: 40%;
}

.sharp::after {
  content: "#";
  position: absolute;
  top: 40%;
  left: 60%;
  font-size: 4rem;
}

.rotate {
  transform-origin: 50% 78%;
  transform: rotate(180deg);
}

.one {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(78% - 0.8px),
    rgba(0, 0, 0, 1) 78%,
    rgba(0, 0, 0, 0) calc(78% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.one_u {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(70% - 0.8px),
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) calc(70% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.one_b {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(86% - 0.8px),
    rgba(0, 0, 0, 1) 86%,
    rgba(0, 0, 0, 0) calc(86% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.two {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(78% - 0.8px),
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 0) calc(78% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(96% - 0.8px),
      rgba(0, 0, 0, 1) 96%,
      rgba(0, 0, 0, 0) calc(96% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}
.three {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(78% - 0.8px),
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 0) calc(78% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(61% - 0.8px),
      rgba(0, 0, 0, 1) 61%,
      rgba(0, 0, 0, 0) calc(61% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(43.6% - 0.8px),
      rgba(0, 0, 0, 1) 43.6%,
      rgba(0, 0, 0, 0) calc(43.6% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}

.lines {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(30% - 0.8px),
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) calc(30% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(40% - 0.8px),
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) calc(40% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(60% - 0.8px),
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) calc(60% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(70% - 0.8px),
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) calc(70% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    #fff;
  z-index: 2;
}

.lines_t {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(30% - 0.8px),
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0) calc(30% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(40% - 0.8px),
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 0) calc(40% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(60% - 0.8px),
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 0) calc(60% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(70% - 0.8px),
      rgba(0, 0, 0, 0.8) 70%,
      rgba(0, 0, 0, 0) calc(70% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
  width: 10%;
  height: 100%;
  position: absolute;
  left: 20%;
  border-radius: 0;
  box-shadow: none;
  z-index: 3;
}

.one-a {
  top: -10%;
}
.two-a {
  top: -20%;
}
.three-a {
  top: -30%;
}
.four-a {
  top: -40%;
}
.one-b {
  top: 10%;
}
.two-b {
  top: 20%;
}
.three-b {
  top: 30%;
}
.four-b {
  top: 40%;
}
